# Ignore all
*
# Unignore all with extensions
!*.*
# Unignore all dirs
!*/

#+========================+
# R files
#+========================+

# History files
.Rhistory
.Rapp.history

# Session Data files
*.RData

# User-specific files
.Ruserdata

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

*.rdb
*.rdx


#+========================+
# Directories
#+========================+
.vscode/


#+========================+
# LaTeX files
##+========================+
*.acn
*.acr
*.alg
*.aux
*.bbl
*.bcf
*.blg
*.dvi
*.fdb*
*.fls
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.run.xml
*.synctex.gz
*.toc
